 ### 探索项目（数量和类型）与国家获得奖牌数量之间的关系

In [1]:
import pandas as pd

# Define file paths
csv_file_path = 'data/summerOly_medal_counts.csv'
excel_file_path = 'data/历年项目数据整理.xlsx'

# 读取 CSV 文件
csv_data = pd.read_csv(csv_file_path)  # 读取CSV文件
# 读取 Excel 文件，默认读取第一个工作表
excel_data = pd.read_excel(excel_file_path)  # 读取Excel文件

# 打印前五行的内容
csv_data.head()

   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896

In [2]:
csv_data.shape

(1435, 7)

In [3]:
excel_data.head()

,year,Artistic Swimming,Diving,Marathon Swimming,Swimming,Water Polo,Archery,Athletics,Badminton,Baseball,...,Tug of War,Beach,Indoor.1,Water Motorsports,Weightlifting,Freestyle,Greco-Roman,Total events,Total disciplines,Total sports
0,1896,0,0,0,4,0,0,12,0,0,...,0,0,0,0,2,0,1,43,10,11
1,1900,0,0,0,7,1,7,23,0,1,...,1,0,0,1,2,0,0,97,22,20
2,1904,0,2,0,9,1,6,25,0,0,...,1,0,0,0,2,7,0,95,18,16
3,1906,0,1,0,4,0,0,21,0,0,...,1,0,0,0,0,0,4,76,13,11
4,1908,0,2,0,6,1,3,26,0,0,...,1,0,0,3,0,5,4,110,25,22

In [4]:
excel_data.shape

(31, 73)

In [5]:
# 计算每年的项目数量
excel_data['Total_Sports_Events'] = excel_data['Total events']

In [6]:
# 根据年份进行合并
merged_data = pd.merge(
    csv_data,  # 左表为CSV数据
    excel_data,  # 右表为Excel数据
    left_on='Year',  # CSV数据中的年份列
    right_on='year',  # Excel数据中的年份列
    how='inner'  # 使用内连接，仅保留两表中共有年份的数据
)
merged_data

,Rank,NOC,Gold,Silver,Bronze,Total,Year,year,Artistic Swimming,Diving,...,Beach,Indoor.1,Water Motorsports,Weightlifting,Freestyle,Greco-Roman,Total events,Total disciplines,Total sports,Total_Sports_Events
0,1,United States,11,7,2,20,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
1,2,Greece,10,18,19,47,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
2,3,Germany,6,5,2,13,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
3,4,France,5,4,2,11,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
4,5,Great Britain,2,3,2,7,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,84,Qatar,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1431,84,Refugee Olympic Team,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1432,84,Singapore,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1433,84,Slovakia,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1434,84,Zambia,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329

In [7]:
merged_data.to_excel('项目与金牌合并数据.xlsx',index=None)

PermissionError: [Errno 13] Permission denied: '项目与金牌合并数据.xlsx'

In [ ]:
merged_data.columns

In [ ]:
merged_data

In [ ]:

import numpy as np
# 设置绘图风格和字体
plt.figure(dpi=120, figsize=(6, 4))
sns.set_theme(style="white", font_scale=0.8)
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['font.sans-serif']=['SimHei'] # 中文支持
plt.rcParams['axes.unicode_minus']=False

In [ ]:

# 选择相关列进行分析
analysis_data = merged_data[['Total_Sports_Events', 'Gold', 'Silver', 'Bronze', 'Total']]

# 计算相关性矩阵
correlation_matrix = analysis_data.corr()


# 生成相关性热力图
sns.heatmap(
    data=correlation_matrix,  # 相关性矩阵
    mask=np.triu(np.ones_like(correlation_matrix)),  # 绘制下三角相关矩阵
    annot=True,  # 显示相关性系数
    fmt=".2f",  # 设置系数格式
    cmap=sns.diverging_palette(255, 5, as_cmap=True),  # 配色方案
)

# 调整标签方向
plt.xticks(rotation=90)
plt.yticks(rotation=0)
plt.title("correlation heat map")
plt.show()

In [ ]:
# 使用新的模板绘制热力图

plt.figure(dpi=120, figsize=(7, 6))  # 设置图像分辨率和大小

sns.set(font_scale=0.8)  # 设置字体样式和缩放
sns.heatmap(
    data=correlation_matrix,  # 相关性矩阵
    annot=True,  # 显示注释
    fmt=".2f",  # 格式为两位小数
    cmap=sns.diverging_palette(255, 5, as_cmap=True),  # 使用指定调色板
)

plt.xticks(rotation=45)  # 设置 x 轴标签旋转角度
plt.title("correlation heat map")  # 添加标题
plt.show()  # 显示图像

In [8]:
# 聚类热力图
sns.clustermap(
    data=correlation_matrix,  # 输入相关性矩阵
    dendrogram_ratio=(0.1, 0.1),  # 调整行和列聚类树的宽度
    figsize=(7, 7),  # 图表尺寸
    annot=True,  # 显示相关系数
    fmt=".2f",  # 相关系数格式
    cmap=sns.diverging_palette(255, 5, as_cmap=True),  # 配色方案
)

plt.show()

NameError: name 'sns' is not defined

In [9]:
merged_data['NOC'].nunique()

210

In [10]:
merged_data

,Rank,NOC,Gold,Silver,Bronze,Total,Year,year,Artistic Swimming,Diving,...,Beach,Indoor.1,Water Motorsports,Weightlifting,Freestyle,Greco-Roman,Total events,Total disciplines,Total sports,Total_Sports_Events
0,1,United States,11,7,2,20,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
1,2,Greece,10,18,19,47,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
2,3,Germany,6,5,2,13,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
3,4,France,5,4,2,11,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
4,5,Great Britain,2,3,2,7,1896,1896,0,0,...,0,0,0,2,0,1,43,10,11,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,84,Qatar,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1431,84,Refugee Olympic Team,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1432,84,Singapore,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1433,84,Slovakia,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329
1434,84,Zambia,0,0,1,1,2024,2024,2,8,...,2,2,0,10,12,6,329,48,32,329

In [11]:
merged_data.columns

Index(['Rank', 'NOC', 'Gold', 'Silver', 'Bronze', 'Total', 'Year', 'year',
       'Artistic Swimming', 'Diving', 'Marathon Swimming', 'Swimming',
       'Water Polo', 'Archery', 'Athletics', 'Badminton', 'Baseball',
       'Softball', '3x3', 'Basketball', 'Basque Pelota', 'Boxing', 'Breaking',
       'Sprint', 'Slalom', 'Cricket', 'Croquet', 'BMX Freestyle', 'BMX Racing',
       'Mountain Bike', 'Road', 'Track', 'Dressage', 'Eventing', 'Jumping',
       'Vaulting', 'Driving', 'Fencing', 'Field hockey', 'Flag football',
       'Football', 'Golf', 'Artistic', 'Rhythmic', 'Trampoline', 'Indoor',
       'Field', 'Jeu de Paume', 'Judo', 'Karate', 'Sixes', 'Field.1',
       'Modern Pentathlon', 'Polo', 'Rackets', 'Roque', 'Coastal', 'Rowing',
       'Sevens', 'Union', 'Sailing', 'Shooting', 'Skateboarding',
       'Sport Climbing', 'Squash', 'Surfing', 'Table Tennis', 'Taekwondo',
       'Tennis', 'Triathlon', 'Tug of War', 'Beach', 'Indoor.1',
       'Water Motorsports', 'Weightlifting', 'Freestyle', 'Greco-Roman',
       'Total events', 'Total disciplines', 'Total sports',
       'Total_Sports_Events'],
      dtype='object')

In [12]:
# 数据分析：项目类型对国家奖牌数量的影响
'''
通过数据预处理提取项目类型及其对应的比赛数量，同时聚合各国的奖牌数量数据。
通过比例分配的方法，将项目比赛数量与国家奖牌数进行关联，计算每种项目类型对奖牌分布的影响，并评估其相关性。
最后展示项目比赛数量在奖牌分布中的作用，从而为进一步的多变量建模提供数据支持和理论依据。
'''
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 数据预处理
project_columns = excel_data.iloc[:, 1:-5].columns  # 提取项目列
project_totals = excel_data[project_columns].select_dtypes(include=[float, int]).sum()  # 统计项目比赛数量

# 按国家聚合奖牌数据
country_medals = csv_data[['NOC', 'Gold', 'Silver', 'Bronze', 'Total']].groupby('NOC').sum()

# 构建数据框
project_medals = pd.DataFrame({
    'Project': project_columns[:len(project_totals)],  # 确保列名长度匹配
    'Event_Count': project_totals.values
})

# 计算每个项目类型对奖牌数量的贡献
##首先，统计每个项目的比赛场次占总比赛的比例，作为项目的权重；统计每个国家的奖牌数量，并计算这些奖牌占该项目总奖牌的比例；
#接着，将项目权重与国家在该项目中的奖牌比例相乘，得到每个项目对该国家奖牌的贡献；
#最后，将所有项目的贡献值加总，得出各项目对各国奖牌数量的整体影响。
#需要注意 这里不能单个国家的来看 因为并每个国家的在各自项目上的奖牌数量 只能看汇总值。
correlations = []
for medal_type in ['Gold', 'Silver', 'Bronze', 'Total']:
    project_medals[medal_type] = [
        country_medals[medal_type].sum() * count / project_totals.sum()  # 按比例分配奖牌
        for count in project_medals['Event_Count']
    ]
    correlations.append((medal_type, project_medals[medal_type].corr(project_medals['Event_Count'])))

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
# 对项目数量降序排序
project_medals_sorted = project_medals.sort_values(by='Event_Count', ascending=False)

# 可视化：降序排序后的柱状图
plt.figure(figsize=(10, 18))
sns.barplot(
    x=project_medals_sorted['Event_Count'],
    y=project_medals_sorted['Project'],
    palette="viridis"
)
plt.title("Effects of Competition Counts on Medal Numbers")  # 英文标题
plt.xlabel("Number of Projects")  # X轴标签
plt.ylabel("Project Type")  # Y轴标签
plt.show()

In [ ]:
merged_data.columns

In [13]:
merged_data.fillna(0,inplace=True)

In [14]:
merged_data[x_columns].isnull().sum().sum()

NameError: name 'x_columns' is not defined

In [15]:
import statsmodels.api as sm

# 准备数据
# 将数据分为因变量（Y）和自变量（X）
y = merged_data['Total']  # 奖牌总数作为因变量
x_columns = ['Artistic Swimming', 'Diving', 'Marathon Swimming', 'Swimming',
       'Water Polo', 'Archery', 'Athletics', 'Badminton', 'Baseball',
       'Softball', '3x3', 'Basketball', 'Basque Pelota', 'Boxing', 'Breaking',
       'Sprint', 'Slalom', 'Cricket', 'Croquet', 'BMX Freestyle', 'BMX Racing',
       'Mountain Bike', 'Road', 'Track', 'Dressage', 'Eventing', 'Jumping',
       'Vaulting', 'Driving', 'Fencing', 'Field hockey', 'Flag football',
       'Football', 'Golf', 'Artistic', 'Rhythmic', 'Trampoline', 'Indoor',
       'Field', 'Jeu de Paume', 'Judo', 'Karate', 'Sixes', 'Field.1',
       'Modern Pentathlon', 'Polo', 'Rackets', 'Roque', 'Coastal', 'Rowing',
       'Sevens', 'Union', 'Sailing', 'Shooting', 'Skateboarding',
       'Sport Climbing', 'Squash', 'Surfing', 'Table Tennis', 'Taekwondo',
       'Tennis', 'Triathlon', 'Tug of War', 'Beach', 'Indoor.1',
       'Water Motorsports', 'Weightlifting', 'Freestyle', 'Greco-Roman',
       'Total events', 'Total disciplines', 'Total sports']

# 从 Excel 数据提取自变量对应的列
x = merged_data[x_columns]

# 添加常数项
x = sm.add_constant(x)

# 构建回归模型
model = sm.OLS(y, x)  # 'drop' 选项会忽略因变量和自变量中包含缺失值的行
results = model.fit()

# 输出回归结果
results_summary = results.summary()
results_summary

ModuleNotFoundError: No module named 'statsmodels'

In [16]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
# 初始化逐步回归变量
included = []
excluded = list(X.columns)

# 定义逐步回归的函数
def stepwise_selection(X, y, threshold_in=0.05, threshold_out=0.05):
    while True:
        # 前向选择：尝试将变量加入模型
        new_pval = pd.Series(index=excluded)
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(X[included + [new_column]])).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        if best_pval < threshold_in:
            best_feature = new_pval.idxmin()
            included.append(best_feature)
            excluded.remove(best_feature)
        # 后向剔除：尝试将变量移出模型
        model = sm.OLS(y, sm.add_constant(X[included])).fit()
        pvalues = model.pvalues.iloc[1:]  # 排除常数项
        worst_pval = pvalues.max()
        if worst_pval > threshold_out:
            worst_feature = pvalues.idxmax()
            included.remove(worst_feature)
            excluded.append(worst_feature)
        if best_pval >= threshold_in and worst_pval <= threshold_out:
            break
    return included

# 执行逐步回归
selected_features = stepwise_selection(X, y)

# 最终模型
final_model = sm.OLS(y, sm.add_constant(X[selected_features])).fit()

# 输出模型结果
final_model_summary = final_model.summary()
final_model_summary

ModuleNotFoundError: No module named 'statsmodels'